@model  Student

@{
    ViewData["Title"] = "Edit Student";
}
<h1>this is page Edit </h1>
<div class="container mt-5">
    <div class="card shadow-lg border-0 rounded-4">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Add New Student</h4>
        </div>

        <div class="card-body p-4">

            <form asp-action="Edit" method="post">

                <!-- ID -->
                @*    <div class="mb-3">
                <label asp-for="Id" class="form-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
                </div>*@

                <!-- Name -->
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <!-- Age -->
                <div class="mb-3">
                    <label asp-for="Age" class="form-label"></label>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
               @* <div class="mb-3">
                    <label asp-for="TeacherId" class="form-label"></label>
                    <select asp-for="TeacherId"
                            asp-items="@(new SelectList(ViewBag.Teachers, "Id", "Name"))"
                            class="form-control">


                        <option value="">-- No Teacher --</option>
                    </select>
                    <span asp-validation-for="TeacherId" class="text-danger"></span>
                </div>*@

                <!-- Buttons -->
                <div class="d-flex justify-content-between">
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="bi bi-arrow-left"></i> Back
                    </a>

                    <button type="submit" class="btn btn-success">
                        <i class="bi bi-check-circle"></i> Update
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


